*,
*::before,
*::after { 
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(
        circle at center,
        #11172f,
        #070317 
    );
    color: #f0f0f0;
    font-family: Montserrat,'Roboto Mono', monospace;
    font-size: 14px;
    scroll-behavior: smooth;
}

#navbar {
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 15px;
    border-radius: 25px;  
    font-size: 1em;
    background: rgba(15, 23, 42, 0.8); 
    position: fixed;
    top: 1%;
    left: 2.5%;
    width: 95%;
    height: auto;
}      


.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 1em;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: 600;
}

.nav-button {
    color: #f0f0f0;
    text-decoration: none;
    padding: 3px;
}

.nav-button:hover {
    color: rgba(15, 23, 42, 0.8);
    background-color: #f0f0f0;
}

section {
    border-bottom: 1px solid rgba(255,255,255,0.5);}

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}


#home-text h1 {
    color: #7fdbff; 
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1px;
}

#home-text h2 {
    color:  #7fdbff;
}

#home-image {
    width: 40%;
    max-width: 300px;
    height: auto;
}

footer {
    padding: 10px;
    font-size: 0.8em;
}

@media screen and (max-width: 480px) {

    #home {
        flex-direction: column;
        gap: 1em;
        padding: 1em;   
        text-align: center;
    }

    #home-text {
        width: 100%; 
    }

    #home-image {
        width: 50%;
        min-width: 150px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        font-size: 16px;
    }
}

@media screen and (min-width: 769px) {
    body{
        font-size: 18px;
    }

    #navbar {
        padding: 0.5em 1em;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1em;
    }
}